.services-slider {
    width: 100%;
    padding: 20px 0;
}

.mySwiper {
    width: 100%;
    height: auto;
    padding: 20px 0 50px;
}

.service-item {
    background: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding-bottom: 20px;
}

.service-item:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.service-item:hover .service-title  {
    color: var(--e-global-color-9fb59b1);
}

.service-icon {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    width: 100%;
}
.service-icon img{
    width: 100% !important;
    max-width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
    object-position: center;
    border-radius: 16px 16px 0 0 !important;
}


.service-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--e-global-color-secondary);
    margin: 0;
    line-height: 1.2 em;
    font-family: "Cormorant Garamond";
    transition: color 0.3s ease;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--e-global-color-secondary);
    background: #fff;
    font-size: 20px !important;
    border-radius: 50px;
}

.swiper-button-next svg, .swiper-button-prev svg {
    width: 25px;
    height: 25px;
}

.swiper-button-next {
    /* position: absolute !important; */
    right: 20px !important;
}
.swiper-button-prev {
    /* position: absolute !important; */
    left: 20px !important;
}

@media only screen and (min-width:640px){
    .swiper-button-next {
        right: 30px !important;
    }
    .swiper-button-prev {
        left: 30px !important;
    }
}
@media only screen and (min-width:992px){
    .swiper-button-next {
        right: 40px !important;
    }
    .swiper-button-prev {
        left: 30px !important;
    }
}@media only screen and (min-width: 1400px){
    .swiper-button-next {
        right: 100px !important;
    }
    .swiper-button-prev {
        left: 100px !important;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    
    .service-title {
        font-size: 22px;
    }
}
@media only screen and (min-width: 992px) {
    
    .service-title {
        font-size: 24px;
    }
}